

body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: auto;
    padding: 2em 1em; 
      
}


ul {
    list-style-type: none;
    
}

li {
    margin: .25em;
}

h1 {
    font: inherit;
    color: inherit;
    
    text-decoration: none;
    
    
}

h2>a {
    font-size: .75em;
}

input {
    display: block;
    margin: 5px 0 20px 0;
    padding: 9px;
    border: solid 1px black;
    width: 300px;
    background: whitesmoke;
}

input[type=submit],
a.delete {
    width: auto;
    padding: 9px 15px;
    background-color: gray;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
}

a.delete {
    background-color: red;
}

.user-info {
    float: right;
}

a.fav {
    text-decoration: none;
    color: red;
}

a.no-fav {
    text-decoration: none;
    color: black;
}

.fav:visited,
.no-fav:visited {
    text-decoration: none;
}

.footer {
  background-color: #7DB609;
  color: #2F2F2F;
  width: 100%;
  margin-top: 150px;
  height: fit-content;
  justify-content: space-between;
  display: flex;


}

.footerColumn {
  justify-content: space-evenly;
  display: flex;
  padding: 20px;
}








 


  
  



@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
    }
    #column1, #column2, #column3 {
      width: 100%;
    }
  }

@media screen and (max-width: 600px) {
    #row {
    width: 100%;
    display: block;
   
  }
}
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .row {
      width: 100%;
      display: block;
    }
  }