/* HOME PAGE CLASS ICONS */
.classIcons {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 300px; */
    /* margin: auto; */
    text-align: center;
    font-family: arial;
    display: inline;    
  } 


  
.listCard {
      display: inline;
      width: 80%;
      box-shadow: 4px 4px 8px gray;
      height: 400px;
      align-items: center;
      
  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
.listColumn {
    float: left;
    width: 30%;
    padding: 25px;
    justify-content: center;
  }
  
  /* Clear floats after image containers */
  .listRow::after {
    content: "";
    clear: both;
    display: table;
    width: 80%;
  }

  .buttonDiv {
    display: flex;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 50px;
    text-decoration: none;
    align-content: center;
    justify-content: center;
    margin-top: 150px;
    
   
  }
  #listButton {
    text-decoration: none !important;
    
    font-size: larger;
    margin: 40px 0;
}
button {
    border: 2px solid #F27A10;
    display: inline;
    background-color: #F27A10;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none !important;
    margin: 0 50px;
   
  }
  .buttonAnchor {
    text-decoration: none;
    color: white;
  }
  .detailAnchor {
    text-decoration: none;
    color: white;
  }



.listItem {
    margin: 1em;
    
}