

body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: auto;
    padding: 2em 1em; 
      
}


ul {
    list-style-type: none;
    border: 3px solid yellow;
}

li {
    margin: .25em;
}

h1 {
    font: inherit;
    color: inherit;
    
    text-decoration: none;
    
    
}

h2>a {
    font-size: .75em;
}

input {
    display: block;
    margin: 5px 0 20px 0;
    padding: 9px;
    border: solid 1px black;
    width: 300px;
    background: whitesmoke;
}

input[type=submit],
a.delete {
    width: auto;
    padding: 9px 15px;
    background-color: gray;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
}

a.delete {
    background-color: red;
}

.user-info {
    float: right;
}

a.fav {
    text-decoration: none;
    color: red;
}

a.no-fav {
    text-decoration: none;
    color: black;
}

.fav:visited,
.no-fav:visited {
    text-decoration: none;
}
/* NAVIGATION BAR */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #F27A10;
    overflow: hidden;
    height: 15%;
    margin-bottom: 80px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 35px;
    height: 100%;
    text-decoration: none;
    font-size: 24px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #EC2A2E;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #7DB609;
    color: white;
  }


/* --------- HOME PAGE PARAGRAPH AND PICTURE------------ */

.homePage {
    margin: 50px;
    margin-bottom: 150px;
    
}
.homeTitle {
    font-family: 'Bubblegum Sans', cursive;
    width: 100%;
    font-size: 100px;
    text-align: center;
    color: #EC2A2E;
    margin: 100px 0;
    
    
}

#introColumn {
    width: 40%;
    margin-right: 50px;
    column-gap: 25px;
    color: gray;
    font-size: larger;
    padding: 0 25px;
}
.introTitle {
    margin: 25px 100px 0 75px;
}
.introPara {
    margin: 50px;
    margin-right: 25px;
}

/* ---------------HOME PAGE REGISTER & BUTTONS--------------- */

.register {
    font-family: 'Bubblegum Sans', cursive;
    width: 100%;
    font-size: 100px;
    text-align: center;
    color: #EC2A2E;
    margin: 100px 0;
}

/* -------------Staff Pictures--------------- */
  .staffColumn {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
    
  }
  .img {
    height: 150px;
  }
  

  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 150px;
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: 2px solid #F27A10;
    display: inline;
    background-color: #F27A10;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 30px;
    border-radius: 12px;
    text-decoration: none;
    margin: 0 50px;
   
  }

.no-style {
    text-decoration: none !important;
    color: white;
    font-size: larger;
    margin: 40px 0;
}

  .buttonDiv {
    display: flex;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 50px;
    text-decoration: none;
    align-content: center;
    justify-content: center;
   
  }
  
  .button:hover {
    background-color: #555;
  }
  .staffPics {
      border-top: 20px solid white;
  }


/* -----------------Registration Page --------------- */

.regHeader {
    font-size: 50px;
    font-family: 'Bubblegum Sans', cursive;
    align-content: center;
    display: block;
    
}
.regBody {
    width: 80%;
    
    display: block;
    margin: auto;
    
}
#regBox {
    
}




  /* //CONTACT FORM */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .contactContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }



  /* HOME PAGE CLASS ICONS */
  .classIcons {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 300px; */
  /* margin: auto; */
  text-align: center;
  font-family: arial;
  display: inline;
  columns: 1fr 1fr 1fr;
  
} 
.vegHeader {
    display: inline;
    align-items: center;
    justify-content: space-between;
}
#peas {
    
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    padding: 25px 0px;
}
#carrot {
    
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 25px 0px;
}
#tomato {
    
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 25px 0px;
}
.iconBox {
    align-items: center;
    color: gray;
    display: inline;
    justify-content: space-evenly;
}
.iconPara {
     
    padding: 25px 40px;
    text-align: left;
    font-size: larger;
}
.iconCard {
    display: block;
    width: 30%;
    box-shadow: 4px 4px 8px gray;
    height: 400px;
}

.column {
    float: left;
    width: 33.33%;
    align-items: center;
    justify-content: center;

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  #column1, #column2, #column3 {
    width: 30%;
    column-gap: 40px;
    column-gap: 150px;
    align-items: center;
    justify-content: space-between;
  }
  #row {
      display: flex;
  }
  



@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    #column1, #column2, #column3 {
      width: 100%;
    }
  }

@media screen and (max-width: 600px) {
    #row {
    display: block;
   
  }
}
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }