{% load static %}
{% load bootstrap3 %}
{% block content %}
<html>
 
  <head>
    <title>One Family Developmental Pre-School</title>
    <link rel="stylesheet" href="{% static 'css/preschool.css' %}" />
  </head>

  <body>
    <a href="/"><h1>One Family Developmental Pre-School</h1></a>
    <nav>
      <a href="/profiles">Profile List</a>
    </nav>
    
     
      <form action="/your/url" method="post" class="form">
      {% bootstrap_form form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star"%} SUBMIT
      </button>
      {% endbuttons %}
      </form>
      
  </body>
  {% endblock %}
</html>