{% extends 'preschool/base.html' %}
{% load static %}
{% load svg %}
{% block content %}

<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/preschool.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/navbar.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/homepage.css">
    </head>
<header>
    <div class="topnav">
        <a class="active" href="">Home</a>
        <a href="{% url 'profile_create' %}">Register</a>
        <a href="{% url 'staff' %}">Our Staff</a>
        <a href="{% url 'contact' %}">Contact Us</a>
        <a href="{% url 'login' %}">Staff Login</a>
      </div> 
</header>
<body>
<h1 class="homeTitle">
    One   Family   Developmental   Preschool</h1>
<div class="homePage row">
<div class="column" id="introColumn">

<h3 class="introTitle">One Family Welcomes Everyone</h3>
<p class="introPara">One family believes that there is no wrong way to be you and that we are all a part of the same human family. Our classes are geared towards teaching our kids to help others and to ask for help themselves. We have students of all nationalities, colors and abilities</p>
</div>
<div class="column" id="introColumn"></div>
<img src="https://www.naeyc.org/sites/default/files/styles/page_header_media_large/public/102017/everyChild_DSC2547.jpg?itok=FrLHrwsV&timestamp=1507834687" />
</div>
</div>

<h3 class="register">Register your child today</h3>
<div class="buttonDiv">
{% if staff_logged_in %}
<button class="button"><a href="{% url 'profile_list' %}" class="no-style" >See our current enrolled children</a></button>
{% endif %}
<button class="button"><a href="{% url 'profile_create' %}" class="no-style">Register to reserve your space</a></button>
</div>
<br>
<br>

<div class="iconBox row" id="row">

    <div class="iconCard column" id="column1">
        <header class="vegHeader" id="peas">{% svg 'peas' %}</header>
        <div class="w3-container w3-center">
            <hr>
            <h3 class="iconPara">Our infant class are called sweet peas. They're swaddled up in their little pod.</h3>
        </div>
      </div>
    <div class="iconCard column" id="column2">
        <div class="vegHeader" id="carrot">{% svg 'carrot' %}</div>
        <div class="w3-container w3-center">
            <hr>
            <h3 class="iconPara">Our toddler class are called little carrots. They've done some growing but they're still snug in the ground. </h3>
        </div>
      </div>
    <div class="iconCard column" id="column3">
        <div class="vegHeader" id="tomato">{% svg 'tomato' %}</div>
        <div class="w3-container w3-center">
            <hr>
            <h3 class="iconPara">Our preschool class are called red tomatoes. They've grown up and are ready to see the sun! </h3>
        </div>
      </div>
</div>
</body>
<footer class="footer">
    <p>Author: Bunny Schaefer</p><br>
    
</footer>
</html>


{% endblock %}