{% load static %}
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/preschool.css">
    </head>
<header>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="{% url 'profile_create' %}">Register</a>
        <a href="{% url 'staff' %}">Our Staff</a>
        <a href="{% url 'contact' %}">Contact Us</a>
      </div> 
</header>
<h1>Delete {{profile.childname}}'s profile' ?</h1>
<form method="POST" action="{% url 'profile_delete' pk=profile.pk %}">
    {% csrf_token %}
    <input type="submit" value="Confirm Delete">
</form>
{% endblock %}