{% extends 'preschool/base.html' %} {% load static %} {% block content %}

<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/preschool.css">
    </head>
<header>
  <div class="topnav">
      <a  href="/">Home</a>
      <a class="active" href="{% url 'profile_create' %}">Register</a>
      <a href="{% url 'staff' %}">Our Staff</a>
      <a href="{% url 'contact' %}">Contact Us</a>
    </div> 
</header>
<h1>New Profile</h1>
<form method="POST" class="artist-form">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock %}