{% extends 'preschool/base.html' %} {% load static %} {% block content %} 

<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/preschool.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/navbar.css">
    </head>
<header>
  <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="{% url 'profile_create' %}">Register</a>
      <a href="{% url 'staff' %}">Our Staff</a>
      <a href="{% url 'contact' %}">Contact Us</a>
    </div> 
</header>
<h2>Profiles</h2>
<h4>Child's Name: {{ profile.childname }}</h4>
<ul>
  
  <li>Parent's Name: {{ profile.parentname }}</li>
  <li>Child's Age: {{ profile.age }}</li>
  <li>Child's date of birth: {{ profile.dob }}</li>
  <li>Phone Number: {{ profile.phonenum }}</li>
  <li>Email Address: {{ profile.email }}</li>
  <li>List any allergies your child has: {{ profile.allergies }}</li>
</ul>
{% endblock %}
