{% extends 'preschool/base.html' %} {% load static %}
{% load svg %} {% block content %}

<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/preschool.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/navbar.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/preschool.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/profile_list.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/homepage.css">
    </head>

<header>
  <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="{% url 'profile_create' %}">Register</a>
      <a href="{% url 'staff' %}">Our Staff</a>
      <a href="{% url 'contact' %}">Contact Us</a>
    </div> 
</header>
<h2>Current Students</h2>
<button id="listButton"><a class="buttonAnchor" href="{% url 'profile_create' %}">Add a New Student</a></button>

<div class="listRow">
  <div class="listColumn">
    {% svg 'peas' %}
  </div>
  <div class="listColumn">
    {% svg 'carrot' %}
  </div>
  <div class="listColumn">
    {% svg 'tomato' %}
  </div>
</div>
<!-- //changes
//no changes -->

<ul class="listList">
  {% for profile in profiles %}
  <li class="listItem">
    <button>
      <a class="detailAnchor" href="{% url 'profile_detail' pk=profile.id %}">Student Details</a>
    </button>Student Id: {{ profile.pk }} - {{ profile.childname }} 
  </li>
  {% endfor %}
</ul>

{% endblock %}