{% extends 'preschool/base.html' %} {% load static %} {% block content %}

<html>
    <head>
      <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/preschool.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/navbar.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/css/registration.css">
    </head>
<header>
  <div class="topnav">
      <a  href="/">Home</a>
      <a class="active" href="{% url 'profile_create' %}">Register</a>
      <a href="{% url 'staff' %}">Our Staff</a>
      <a href="{% url 'contact' %}">Contact Us</a>
    </div> 
</header>
<div class="regBody" id="regBox">
<h1 class="regHeader">Staff Login</h1>
<p>Please login below:</p>
<br>
<form method="POST" class="register-form">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit" class="save btn btn-default">Save</button>
</form>
</div>
{% endblock %}